
h1{
    text-align: center;
}


.item{
    width: 100vw;
     height: 150px; 
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
}
h3{
    color: rgb(67, 67, 222);
}
span{
    font-weight: 700;
}