.home{
    display: flex;
    flex-direction: column;
   /* justify-content: center; */
   height: 100vh;;
   align-items: center;
   background-color: #C9D6DF;
   
}
.link{
   text-decoration: none; 
   font-size: 24px;
   border: 1px solid black;
   margin-bottom: 10px;
   padding: 20px;
   color: black;
   transition: all 1s ease;
}
.link:active{
    color:black;
    transform: scale(0.90);
}
.homewrapper{
    display: flex;
    flex-direction: column;
}
